<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="CommentMapper">

 <!-- [중요] resultMap 사용하지 않을 예정
 			우리는 resultType만 사용할 예정
  -->

<!--  <select id="selectComment" resultType="mybatis.guest.model.Comment">
 select
 	comment_no  AS commentNo,
 	user_id		AS userId,
 	comment_content AS commentContent,
 	reg_date	AS regDate
 from comment_tab
 </select> -->
 
 <select id="selectComment"
 		parameterType="hashmap"
  		resultType="Comment">
 	SELECT
		*
 	FROM comment_tab
 	<where>
 		<if test="commentNo != null">
 			comment_no = #{commentNo}
 		</if>
 		<if test="selectKey != null">
 			${selectKey} LIKE '%${searchWord}%'
 		</if>
 	</where>
 </select>
 
 <!-- 
 	#{변수명} : PreparedStatement의 ? 지정
 	${변수명}	: Statement로 지정해서 ' 자동으로 지정되지 않도록
  -->
 
  <insert id="insertComment" parameterType="Comment">
 	INSERT INTO
 		comment_tab(user_id, comment_content, reg_date)
 	VALUES ( #{userId}, #{commentContent}, sysdate())
 </insert>
 
 <delete id="deleteComment" parameterType="int">
 	DELETE FROM comment_tab
 	WHERE comment_no = #{cNo}
 </delete>
 
 <update id="modifyComment" parameterType="int">
 	UPDATE comment_tab
 	SET	( #{userId}, #{commentContent}, sysdate())
 	WHERE comment_no = #{cNo}
 </update>
 
 
</mapper>